html, body, #root {
  background: #2C3338;
  height: 100%;
  margin: 0;
}

.body {
  height: 100%;
  min-height: 100%;
  background-color: #2c3338;
  position: relative;
}

.welcome-logo {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.welcome-intro {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 55px;
  letter-spacing: 5px;
  text-align: center;
  margin: 12px;
}

.welcome-description {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 14.5px;
  line-height: 1.65;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.name-section {
  position: absolute; 
  bottom: 0px;
  right: 30px;
}

.name-text {
  color: #FFF;
  font-family: Allura, cursive;
  text-align: center;
  font-size: 35px;
   -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.name-text:hover {
  color: rgb(234, 76, 136);
  font-size: 36px;
}

.modal-block {
  background: white;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  width: 500px;
  height: 500px;
  padding: 10px;
}

.continue-button {
  height: 38px;
  padding: 0 15px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px auto;
  color: #FFF;
  background-color: #ea4c88;
  border-color: #ea4c88;
  margin: 0 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.continue-button:hover {
  background-color: #E83479;
  border-color: #E83479;
}

.arrow-button {
  color: #FFF;
  border-radius: 60px;
  padding: 10px;
  cursor: pointer;
  background: #EA4C88;
  margin: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.arrow-button:hover {
  background-color: #E83479;
}

/*Flexbox Centering*/
.aligner {
  height: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.none-aligner {
  display: flex;
  align-items: initial !important;
  justify-content: initial !important;
}

.table-aligner {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

/*Footer*/
.footer {
  position: absolute;
  bottom: 10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.footer-description1 {
  font-family: Nunito, sans-serif;
  font-size: 13px;
  text-align: center;
  text-shadow: 0.1px 0.1px #ea4c88;
  color: #FFF;
}

.footer-name-text {
  color: #FFF;
  font-family: Allura, cursive;
  text-align: center;
  font-size: 17px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-description2 {
  font-family: Nunito, sans-serif;
  font-size: 11px;
  text-align: center;
  text-shadow: 0.1px 0.1px #ea4c88;
  color: #FFF;
  padding-bottom: 5px;
}

.footer-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  right: 5px;
  bottom: 1px;
}

.footer-social-media {
  text-align: center;
}

.footer-link-description {
    text-decoration: none !important; 
    color: #ea4c88 !important; 
    display: inline !important;
    cursor: pointer !important;
}

.footer-link-description:hover {
    /*font-size: 1.4em;*/
    color: #33C3F0 !important; 
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-animation-delay: 5s;
}

.social{
    text-decoration: none;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transfrom:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
}

.social_links {
    text-decoration: none;
    color: #ea4c88;
}

#social-em:hover {
    color:#33C3F0;
}
#social-facebook:hover {
    color:#33C3F0;
}

#social-link:hover {
    color:#33C3F0;
}

#social-em:hover {
    color:#33C3F0;
}
#social-facebook:hover {
    color:#33C3F0;
}

#social-link:hover {
    color:#33C3F0;
}

a.social_links {
  color: #ea4c88 !important;
}

a.social_links:hover {
  color:#33C3F0;
}

/*Logo Spin*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Icon Shadow Blocks*/

/* -- Variables -- */
/* icon color       */
/* shadow color     */
/* background color */
/* bg border radius */
/* box length       */
#icon-box span {
  display: block;
  position: absolute;
  height: 75px;
  width: 75px;
  color: #fff;
  text-shadow: #ad3664 1px 1px, #ad3664 2px 2px, #ad3664 3px 3px, #ad3664 4px 4px, #ad3664 5px 5px, #ad3664 6px 6px, #ad3664 7px 7px, #ad3664 8px 8px, #ad3664 9px 9px, #ad3664 10px 10px, #ad3664 11px 11px, #ad3664 12px 12px, #ad3664 13px 13px, #ad3664 14px 14px, #ad3664 15px 15px, #ad3664 16px 16px, #ad3664 17px 17px, #ad3664 18px 18px, #ad3664 19px 19px, #ad3664 20px 20px, #ad3664 21px 21px, #ad3664 22px 22px, #ad3664 23px 23px, #ad3664 24px 24px, #ad3664 25px 25px, #ad3664 26px 26px, #ad3664 27px 27px, #ad3664 28px 28px, #ad3664 29px 29px, #ad3664 30px 30px, #ad3664 31px 31px, #ad3664 32px 32px, #ad3664 33px 33px, #ad3664 34px 34px, #ad3664 35px 35px, #ad3664 36px 36px, #ad3664 37px 37px, #ad3664 38px 38px, #ad3664 39px 39px, #ad3664 40px 40px, #ad3664 41px 41px, #ad3664 42px 42px, #ad3664 43px 43px, #ad3664 44px 44px, #ad3664 45px 45px, #ad3664 46px 46px, #ad3664 47px 47px, #ad3664 48px 48px, #ad3664 49px 49px, #ad3664 50px 50px, #ad3664 51px 51px, #ad3664 52px 52px, #ad3664 53px 53px, #ad3664 54px 54px, #ad3664 55px 55px, #ad3664 56px 56px, #ad3664 57px 57px, #ad3664 58px 58px, #ad3664 59px 59px, #ad3664 60px 60px, #ad3664 61px 61px, #ad3664 62px 62px, #ad3664 63px 63px, #ad3664 64px 64px, #ad3664 65px 65px, #ad3664 66px 66px, #ad3664 67px 67px, #ad3664 68px 68px, #ad3664 69px 69px, #ad3664 70px 70px, #ad3664 71px 71px, #ad3664 72px 72px, #ad3664 73px 73px, #ad3664 74px 74px, #ad3664 75px 75px, #ad3664 76px 76px, #ad3664 77px 77px, #ad3664 78px 78px, #ad3664 79px 79px, #ad3664 80px 80px, #ad3664 81px 81px, #ad3664 82px 82px, #ad3664 83px 83px, #ad3664 84px 84px, #ad3664 85px 85px, #ad3664 86px 86px, #ad3664 87px 87px, #ad3664 88px 88px, #ad3664 89px 89px, #ad3664 90px 90px, #ad3664 91px 91px, #ad3664 92px 92px, #ad3664 93px 93px, #ad3664 94px 94px, #ad3664 95px 95px, #ad3664 96px 96px, #ad3664 97px 97px, #ad3664 98px 98px, #ad3664 99px 99px, #ad3664 100px 100px, #ad3664 101px 101px, #ad3664 102px 102px, #ad3664 103px 103px, #ad3664 104px 104px, #ad3664 105px 105px, #ad3664 106px 106px, #ad3664 107px 107px, #ad3664 108px 108px, #ad3664 109px 109px, #ad3664 110px 110px, #ad3664 111px 111px, #ad3664 112px 112px, #ad3664 113px 113px, #ad3664 114px 114px, #ad3664 115px 115px, #ad3664 116px 116px, #ad3664 117px 117px, #ad3664 118px 118px, #ad3664 119px 119px, #ad3664 120px 120px, #ad3664 121px 121px, #ad3664 122px 122px, #ad3664 123px 123px, #ad3664 124px 124px, #ad3664 125px 125px, #ad3664 126px 126px, #ad3664 127px 127px, #ad3664 128px 128px, #ad3664 129px 129px, #ad3664 130px 130px, #ad3664 131px 131px, #ad3664 132px 132px, #ad3664 133px 133px, #ad3664 134px 134px, #ad3664 135px 135px, #ad3664 136px 136px, #ad3664 137px 137px, #ad3664 138px 138px, #ad3664 139px 139px, #ad3664 140px 140px, #ad3664 141px 141px, #ad3664 142px 142px, #ad3664 143px 143px, #ad3664 144px 144px, #ad3664 145px 145px, #ad3664 146px 146px, #ad3664 147px 147px, #ad3664 148px 148px, #ad3664 149px 149px, #ad3664 150px 150px;
}

#icon-box {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 75px;
  height: 75px;
  font-size: 50px;
  line-height: 150px;
  background-color: #ea4c88;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}

#spotahome-icon-box span {
  display: block;
  position: absolute;
  height: 75px;
  width: 75px;
  color: #fff;
  text-shadow: #ad3664 1px 1px, #ad3664 2px 2px, #ad3664 3px 3px, #ad3664 4px 4px, #ad3664 5px 5px, #ad3664 6px 6px, #ad3664 7px 7px, #ad3664 8px 8px, #ad3664 9px 9px, #ad3664 10px 10px, #ad3664 11px 11px, #ad3664 12px 12px, #ad3664 13px 13px, #ad3664 14px 14px, #ad3664 15px 15px, #ad3664 16px 16px, #ad3664 17px 17px, #ad3664 18px 18px, #ad3664 19px 19px, #ad3664 20px 20px, #ad3664 21px 21px, #ad3664 22px 22px, #ad3664 23px 23px, #ad3664 24px 24px, #ad3664 25px 25px, #ad3664 26px 26px, #ad3664 27px 27px, #ad3664 28px 28px, #ad3664 29px 29px, #ad3664 30px 30px, #ad3664 31px 31px, #ad3664 32px 32px, #ad3664 33px 33px, #ad3664 34px 34px, #ad3664 35px 35px, #ad3664 36px 36px, #ad3664 37px 37px, #ad3664 38px 38px, #ad3664 39px 39px, #ad3664 40px 40px, #ad3664 41px 41px, #ad3664 42px 42px, #ad3664 43px 43px, #ad3664 44px 44px, #ad3664 45px 45px, #ad3664 46px 46px, #ad3664 47px 47px, #ad3664 48px 48px, #ad3664 49px 49px, #ad3664 50px 50px, #ad3664 51px 51px, #ad3664 52px 52px, #ad3664 53px 53px, #ad3664 54px 54px, #ad3664 55px 55px, #ad3664 56px 56px, #ad3664 57px 57px, #ad3664 58px 58px, #ad3664 59px 59px, #ad3664 60px 60px, #ad3664 61px 61px, #ad3664 62px 62px, #ad3664 63px 63px, #ad3664 64px 64px, #ad3664 65px 65px, #ad3664 66px 66px, #ad3664 67px 67px, #ad3664 68px 68px, #ad3664 69px 69px, #ad3664 70px 70px, #ad3664 71px 71px, #ad3664 72px 72px, #ad3664 73px 73px, #ad3664 74px 74px, #ad3664 75px 75px, #ad3664 76px 76px, #ad3664 77px 77px, #ad3664 78px 78px, #ad3664 79px 79px, #ad3664 80px 80px, #ad3664 81px 81px, #ad3664 82px 82px, #ad3664 83px 83px, #ad3664 84px 84px, #ad3664 85px 85px, #ad3664 86px 86px, #ad3664 87px 87px, #ad3664 88px 88px, #ad3664 89px 89px, #ad3664 90px 90px, #ad3664 91px 91px, #ad3664 92px 92px, #ad3664 93px 93px, #ad3664 94px 94px, #ad3664 95px 95px, #ad3664 96px 96px, #ad3664 97px 97px, #ad3664 98px 98px, #ad3664 99px 99px, #ad3664 100px 100px, #ad3664 101px 101px, #ad3664 102px 102px, #ad3664 103px 103px, #ad3664 104px 104px, #ad3664 105px 105px, #ad3664 106px 106px, #ad3664 107px 107px, #ad3664 108px 108px, #ad3664 109px 109px, #ad3664 110px 110px, #ad3664 111px 111px, #ad3664 112px 112px, #ad3664 113px 113px, #ad3664 114px 114px, #ad3664 115px 115px, #ad3664 116px 116px, #ad3664 117px 117px, #ad3664 118px 118px, #ad3664 119px 119px, #ad3664 120px 120px, #ad3664 121px 121px, #ad3664 122px 122px, #ad3664 123px 123px, #ad3664 124px 124px, #ad3664 125px 125px, #ad3664 126px 126px, #ad3664 127px 127px, #ad3664 128px 128px, #ad3664 129px 129px, #ad3664 130px 130px, #ad3664 131px 131px, #ad3664 132px 132px, #ad3664 133px 133px, #ad3664 134px 134px, #ad3664 135px 135px, #ad3664 136px 136px, #ad3664 137px 137px, #ad3664 138px 138px, #ad3664 139px 139px, #ad3664 140px 140px, #ad3664 141px 141px, #ad3664 142px 142px, #ad3664 143px 143px, #ad3664 144px 144px, #ad3664 145px 145px, #ad3664 146px 146px, #ad3664 147px 147px, #ad3664 148px 148px, #ad3664 149px 149px, #ad3664 150px 150px;
}

#spotahome-icon-box {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 75px;
  height: 75px;
  font-size: 50px;
  line-height: 150px;
  background-color: #0dbd95;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#spotahome-icon-box:hover .fa-spotahome-lg-modification {
  font-size: 55px;
  vertical-align: 70% !important;
  line-height: normal !important;
}

.fa-spotahome-lg-modification {
  vertical-align: 70% !important;
  line-height: normal !important;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-spotahome-lg-modification:hover {
  font-size: 55px;
  vertical-align: 70% !important;
  line-height: normal !important;
}

.fa-lg-modification {
  vertical-align: 70% !important;
  line-height: normal !important;
}

/*Last Screen*/
.background-darken {
  background: -webkit-linear-gradient(top ,rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90));
  background: linear-gradient(to bottom,rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90),rgba(0,0,0,.90));
}

.banner-image-intro-brackets-section {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.banner-image-intro {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.banner-image-intro-brackets {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 400;
  z-index: 1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

}

.banner-image-intro-brackets:hover {
  color: #EA4C88;;
}

.banner-brackets {
  color: #32b496;
  font-size: 35px;
}

.alternative-banner-image-intro {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.alternative-banner-image-intro-brackets {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.alternative-banner-image-intro-brackets:hover {
  color: #EA4C88;;
}

.banner-image-sub-intro {
  font-size: 20px;
  font-weight: 200;
}

.banner-image-sub-intro-brackets {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.random-salary-text {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 200;
  display: inline-block;
}

.random-position {
  color: #EA4C88;
  font-weight: 700;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.random-position:hover {
  color: rgb(61, 242, 255);
}

.random-position:hover + .random-salary {
  color: rgb(61, 242, 255);
}

.random-salary {
  color: #EA4C88;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.brackets-icon {
  color: #EA4C88;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.exchange-icon {
  color: #EA4C88;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.exchange-icon:hover {
  color: rgb(61, 242, 255);
}

/*Tooltips*/

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}


/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
  font-size: 12px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
  font-size: 11px; /* Self added to make the information icon tooltip unique */
  width: 300px; /* Self added to make the information icon tooltip unique */
}

.search_question_container {
    position: absolute;
    z-index: 999;
    top: 15px;
    right: 160px;
    font-family: Nunito, sans-serif;
    text-align: center;
    font-weight: 700;
    height: 50px;
}
/*Media Queries*/
.welcome-block {
  background: #2C3338;
  width: 500px !important;
  padding: 10px;
}

.welcome-details-block {
  background: #FFF;
  color: #2C3338;
  width: 500px !important;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
}

/*Spotahome Details*/
.full-screen-banner {
  height: 100%;
}

.return-section {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 1px;
}

.return-text {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.image-container-madrid {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1465065600826-82807d7a83b2?dpr=2&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
}

.image-container-barcelona {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1464790719320-516ecd75af6c?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
}

.image-container-bilbao {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1476180814856-a36609db0493?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-valencia {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1486064579128-18a57a065dfe?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-granada {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1484503369601-c5f45a1bf914?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
}

.image-container-seville {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1465826758852-5c5727495ed9?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-brussels {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1461838239441-4475121c0b7d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-london {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1461906903741-bf21de16ae85?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.85);
}

.image-container-rome {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1479705879471-5afa19ebdcc5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.85);
}

.image-container-milan {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1464938769256-c01dc51fc983?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.87);
}

.image-container-paris {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1471623432079-b009d30b6729?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-lyon {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1468756921646-fbb70d974408?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.85);
}

.image-container-dublin {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1465830014217-b962ea10c996?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.8);
}

.image-container-dubai {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?dpr=2&auto=format&fit=crop&w=1080&h=826&q=80&cs=tinysrgb&crop=);
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
}

.image-container-berlin {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1475452524438-d6a4a3f6fdc3?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.73);
}

.image-container-vienna {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1465491736982-abaddedcedc7?dpr=2&auto=format&fit=crop&w=1080&h=721&q=80&cs=tinysrgb&crop=");
  height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.88);
}

.header-title {
  color: rgb(255, 255, 255);
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding-bottom: 35px;
  max-width: 600px;
}

.launch-button {
  max-width: 400px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.launch-button:hover {
  max-width: 420px;
}

.launch-item {
  position: relative;
  background: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 48px;
  -webkit-transition: box-shadow .1s ease-out,opacity .1s ease-out,-webkit-transform .05s ease-out;
  transition: box-shadow .1s ease-out,opacity .1s ease-out,-webkit-transform .05s ease-out;
  transition: box-shadow .1s ease-out,transform .05s ease-out,opacity .1s ease-out;
  transition: box-shadow .1s ease-out,transform .05s ease-out,opacity .1s ease-out,-webkit-transform .05s ease-out;
}

.launch-image-madrid {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1465065600826-82807d7a83b2?dpr=2&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=");
}

.launch-image-barcelona {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1464790719320-516ecd75af6c?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
}

.launch-image-bilbao {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1476180814856-a36609db0493?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=");
}

.launch-image-valencia {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1486064579128-18a57a065dfe?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-granada {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1484503369601-c5f45a1bf914?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-seville {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1465826758852-5c5727495ed9?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
}

.launch-image-brussels {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1461838239441-4475121c0b7d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-london {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1461906903741-bf21de16ae85?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-rome {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1479705879471-5afa19ebdcc5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-milan {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1464938769256-c01dc51fc983?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
}

.launch-image-paris {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1471623432079-b009d30b6729?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-lyon {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1468756921646-fbb70d974408?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=");
}

.launch-image-dublin {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1465830014217-b962ea10c996?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
}

.launch-image-dubai {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url(https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?dpr=2&auto=format&fit=crop&w=1080&h=826&q=80&cs=tinysrgb&crop=);
}

.launch-image-berlin {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1475452524438-d6a4a3f6fdc3?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.launch-image-vienna {
  padding-top: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1465491736982-abaddedcedc7?dpr=2&auto=format&fit=crop&w=1080&h=721&q=80&cs=tinysrgb&crop=");
}

.launch-count {
  color: #f5025e;
  font-family: Nunito, sans-serif;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1.05882rem;
  text-align: center;
}

.spotahome-text {
  color: #FFF;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.spotahome-text:hover {
  color: #ea4c88;
}

.spotahome-button-section {
  position: absolute;
  top: 25px;
  right: 40px;
}

@media only screen and (max-width: 500px) {
  .welcome-block {
    background: #2C3338;
    width: 100% !important;
    padding: 10px;
  }

  .welcome-logo {
    height: 110px;
  }

  .welcome-intro {
    font-size: 35px;
    margin: 5px;
  }

  .welcome-description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .welcome-details-block {
    width: 100% !important;
    background: #FFF;
    color: #2C3338;
    margin: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  }

  .none-aligner {
    display: block;
  }

  .name-section {
    top: 5px;
    right: 10px;
    height: 30px;
  }

  .name-text {
    font-size: 20px;
    text-align: center;
  }

  .banner-image-sub-intro {
    display: none;
  }

  .banner-image-sub-intro-brackets {
    display: none;
  }

  .mobilePadding {
    padding-bottom: 40px;
  }

  .random-salary-text {
    padding: 10px;
    font-size: 15px;
  }

  .random-salary {
    font-size: 16px;
  }

  .checkbox-label {
    font-size: 11px;
  }

  .tooltip-left:after,
  .tooltip-right:after {
    width: 200px;
}

  .search_question_container {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .mobilePadding {
    padding-bottom: 40px;
  }

  .banner-image-sub-intro {
    display: none;
  }
}
